@inherits LayoutComponentBase

<PageTitle>RBSS</PageTitle>

<div class="page">
   

    <main>
 <MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

        <MudLayout>
            <MudAppBar Elevation="1" Dense="true" Style="background-color:#273A56">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <MudSpacer />
                <MudIcon Icon="@Icons.Material.Rounded.AccountCircle" Color="Color.Inherit" />
                <MudText>@name</MudText>
            </MudAppBar>
            <MudDrawer @bind-Open="@open" ClipMode="clipMode" Breakpoint="@breakpoint" PreserveOpenState="@preserveOpenState" Elevation="1" Variant="@DrawerVariant.Mini">
              @if(open){
                  <div>
                        <MudImage Src="Images/ECAN_CRF.JPEG" Style="height:50px" Class="img-fluid" />
                  </div>
              }else{
                  <div>
                        <MudImage Src="Images/ECAN_CRF.JPEG" Style="height:50px" Class="img-fluid" />
                  </div>
              }
                <NavMenu/>
            </MudDrawer>
            <MudMainContent Class="pt-6 px-0">
                <body style="background-color:ghostwhite;font-family:Calibri" class="content px-0">
                    @Body
                </body>
            </MudMainContent>
        </MudLayout>



    </main>
</div>






@code {
    bool open = true;

    string name="n/a";


    protected override async Task OnInitializedAsync()
    {
       // name = await unitOfWork.UserRepository.GetCurrentUser() == null ? "n/a" : (await unitOfWork.UserRepository.GetCurrentUser()).ConfirmEmail;
    }
    bool preserveOpenState = false;
    Breakpoint breakpoint = Breakpoint.Lg;
    DrawerClipMode clipMode = DrawerClipMode.Never;

    void ToggleDrawer()
    {
        open = !open;
    }
        }


